.deliver-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .deliver-details{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
  }
  .order-items{
    margin-left: 20px;
    font-size: 1.2rem;
    color: #1f0fd3;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  } 

  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  p{
    text-align: center;
    color: #e60c0c;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;


  }
  .order-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .order-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .order-details {
    flex: 1;
  }
  
  .order-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .order-details ul li {
    margin-bottom: 5px;
  }
  
  .accept-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .accept-btn:hover {
    background-color: #218838;
  }
  